<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
	body,html,div
	{
		padding:0px;
		margin:0px;
	}
	.wrap
	{
		width:960px;
		margin:0 auto;
		font-size:0px;
	}
	.a,.b,.c
	{
		position:relative;
		display:inline-block;	
		
		font-size:16px;
		height:800px;
	}
	.a
	{
		width:180px;
		background-color:#D00;
	}
	.b
	{
		width:600px;
		background-color:#00D;
	}
	.c
	{
		width:180px;
		background-color:#0D0;
	}
		
	/*BAC
	.b
	{
		left:-180px;
	}
	.a
	{
		left:600px;
	}
	*/
	/*CBA*/
	.a
	{
		left:780px;
	}
	.c
	{
		left:-780px
	}
	
	
	
	
	
	</style>
</head>
<body>
	<div class="wrap">
	<div class="a"></div>
	<div class="b">

	</div>
	<div class="c"></div>
	</div>
</body>
</html>