

/* ²¼¾Ö */
	body,html
	{
		height:100%;
		border:0px;
		padding:0px;
		margin:0px; 
	}
	.wrap
	{
		position:relative;
		height:100%;
	}
	
	.content,.info
	{
		position:absolute;
		left:0px;
		right:0px;
	}
	
	.info
	{
		position:absolute;
		height:100px;
	}
	.content
	{
		position:absolute;
		top:100px;
		bottom:0;
		background:#00f url(.././img/bg.jpg) no-repeat ;
		
	}
	
	
	/* ÒÇ±í */
	.dashboard
	{
		margin:20px auto 0;
		width:800px;
		height:240px;
		background:#aaa;
		overflow:hidden;
		
		border-radius:120px;
	}
	
	.circle
	{
		position:relative;
		margin:-100px 0 0  -100px;
		width:200px;
		height:200px;
		border-radius:100px;
		top:50%;
		left:50%;
		background:#FFF;
	}
	.dashboard>hr
	{
		border:2px;
		color:#FFF;
	}
	
	
	
	
	
	
	
	
	
	
	